.service {
  width: 80%;
  max-width: 75rem;
  margin: 3rem auto;
}

.service_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.service_box_item {
  width: 100%;
  max-width: 100%;
}

.service_box_item_step {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.service_box_item_step span {
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
}

.service_box_item h3 {
  margin-bottom: 0.5rem;
}

.service_box_item p {
  line-height: 1.6;
  padding: 0 0.5rem;
}

@media screen and (max-width: 64rem) {
  .service_box {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .service {
    width: 92%;
    margin: 2rem auto;
  }

  .service_box {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
